*{    
box-sizing: border-box;
margin: 0%;
padding: 0%;
font-family: sans-serif;
justify-content: center!important;
}
body{
    display: flexbox;
    background: #b5dff0; }
form{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0cm;
    margin-bottom: 2cm;
    justify-content: center;
    display: flexbox;
    flex-direction: column;
    text-align: center!important;
    padding: 20px 25px;
    background:rgb(194, 231, 255);
    box-shadow: 0 5px 10px #09649a(71, 3 6, 0.7);
    border-radius: 10px;
    background-attachment: scroll;
}
  img.mb-4{
    width: 600px;
    max-width: 100%;
    height: auto;
    image-resolution: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
  }
  h4.title{
    justify-content: center;
    text-align: center;
    font-weight: lighter;

  }
  footer{
    display: flexbox;
    align-items: center;
    justify-content: center;
  }
button.button{
    justify-content: center;
    background-color: #0d6efd;
    border-color: #0d6efd;
    width: 50%;
    display: inline-block;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem;
}
input#email{
  border-radius: 5px;
}
input#contra{
  border-radius: 5px;
}
.rojo{
  border: 2px solid #ff4040;
  border-radius: 5px;
}